In [1]:
sc

org.apache.spark.SparkContext@6c66fe41

In [10]:
    import org.apache.spark.sql.SparkSession
    import org.apache.spark.{SparkConf, SparkContext}
    import org.apache.spark.sql.functions._

    //Getting data from tsv file
      println("Start")
    
    val titanicDF = spark.read.format("org.apache.spark.csv").option("header", true).option("inferSchema", true).option("delimiter", "\t").option("mode", "DROPMALFORMED").csv("/home/shahyash1993/titanic.tsv")

    val notNullVal = titanicDF.where(col("age") > 0).count()
    val totalVal = titanicDF.count()

    println(">>Count: " + notNullVal)
    println(">>Total Count: " + totalVal)
    println(">>Diff: " + (totalVal - notNullVal))

    //Dropping Null values
    val droppedNullAgeDF = titanicDF.na.drop("any", Seq("age"))
    println(">>After dropping: " + droppedNullAgeDF.count())

    //Logic to create age groups
    val modifiedDroppedNullAgeDF = droppedNullAgeDF.orderBy(col("age")).withColumn("ageGroup", floor(col("age") / 5) * 5)

    val countY = count(when(modifiedDroppedNullAgeDF("survived".toString()) === "y", true))

    //finding survival percentage
    val finalDF = modifiedDroppedNullAgeDF.groupBy(col("ageGroup")).agg(countY / count("ageGroup") * 100 as "Survival (%)")

    finalDF.orderBy("ageGroup").show()

    println(">>End")

Start
>>Count: 1045
>>Total Count: 1309
>>Diff: 264
>>After dropping: 1045
+--------+------------------+
|ageGroup|      Survival (%)|
+--------+------------------+
|       0|              64.0|
|       5| 54.83870967741935|
|      10| 40.74074074074074|
|      15|38.793103448275865|
|      20| 38.58695652173913|
|      25|              35.0|
|      30|40.909090909090914|
|      35|              44.0|
|      40|28.985507246376812|
|      45|48.484848484848484|
|      50|48.837209302325576|
|      55| 40.74074074074074|
|      60| 37.03703703703704|
|      65|               0.0|
|      70|               0.0|
|      75|             100.0|
|      80|             100.0|
+--------+------------------+

>>End

In [11]:
import org.apache.spark.sql.functions._
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SparkSession

    //Getting data from  tsv filess
    val titanicDF = spark.read.format("org.apache.spark.csv").option("header", true).option("inferSchema", true).option("delimiter","\t").option("mode","DROPMALFORMED").csv("/home/shahyash1993/titanic.tsv")

    //Dropping null values
    val droppedNullAgeDF = titanicDF.na.drop("any",Seq("age"))
    println(">>After dropping: "+droppedNullAgeDF.count())

    //Renaming home.dest because of the unusual error
    val newTitanicDF = droppedNullAgeDF.withColumnRenamed("home.dest","home")

    //<<Machine Learning Stuff>>>
    import org.apache.spark.ml.feature.RFormula

    //Generating formula to predict survival based on the age
    val examFormula = new RFormula().setFormula("survived ~ age").setFeaturesCol("features").setLabelCol("label")

    //Splitting the data into Trainset and Testsets
    val fittedRF = examFormula.fit(newTitanicDF)
    val preparedDF = fittedRF.transform(newTitanicDF)
    val Array(trainDF, testDF) = preparedDF.randomSplit(Array(0.9, 0.1))
    trainDF.show

    println("total: "+newTitanicDF.count())
    println("train: "+trainDF.count())
    println("test: "+testDF.count())

    //fitting the  model
    import org.apache.spark.ml.classification.LogisticRegression
    val lr = new LogisticRegression().setFeaturesCol("features").setLabelCol("label")
    val lrModel = lr.fit(trainDF)

    val trainedModelDF = lrModel.evaluate(testDF).predictions
    trainedModelDF.show()

    //Finding out the wrong predictions
    val wrongPredictions = trainedModelDF.where(expr("label != prediction"))
    val incorrectPredicition = wrongPredictions.count()
    println("Incorrect Predictons: "+incorrectPredicition)

    //finding errors
    val countErrors = wrongPredictions.groupBy("label").agg(count("prediction").alias("Errors"))
    countErrors.show

    //Finding out TP, TN, FP, FN
    val truePositives = trainedModelDF.where(expr("label == 1 AND prediction == 1")).count()
    println("TP: "+truePositives)

    val trueNegatives= trainedModelDF.where(expr("label == 0 AND prediction == 0")).count()
    println("TN: "+trueNegatives)

    val falsePositive= trainedModelDF.where(expr("label == 0 AND prediction == 1")).count()
    println("FP: "+falsePositive)

    val falseNegative= trainedModelDF.where(expr("label == 1 AND prediction == 0")).count()
    println("FN: "+falseNegative)

    val totalCount= trainedModelDF.count()
    println("total: "+totalCount)

    val percentFP:Double = falsePositive*100/totalCount
    val percentFN:Double = falseNegative*100/totalCount

    println("%FP=" + percentFP+"%")
    println("%FN=" + percentFN+"%")

>>After dropping: 1045
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+--------+-----+
|survived|   sex| age|pclass|                name|sibsp|parch|            ticket|   fare|  cabin|embarked|boat|body|                home|features|label|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+--------+-----+
|       n|female| 2.0| first|Allison, Miss. He...|    1|    2|            113781| 151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...|   [2.0]|  0.0|
|       n|female| 2.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN|   [2.0]|  0.0|
|       n|female| 2.0| third|Skoog, Miss. Marg...|    3|    2|            347088|   27.9|   null|       S|null|null|                null|   [2.0]|  0.0|
|       n|female| 2.0| third|Strom, Miss. Telm...|    0|    1|            347054|10.4625|     G6|       S|null|null|                null|   [2.0]|  0.0|
|       n|female| 3.0| third|Palsson, Miss. St...|    3|    1|            349909| 21.075|   null|       S|null|null|                null|   [3.0]|  0.0|
|       n|female| 3.0| third|Peacock, Miss. Tr...|    1|    1|SOTON/O.Q. 3101315| 13.775|   null|       S|null|null|                null|   [3.0]|  0.0|
|       n|female| 8.0| third|Palsson, Miss. To...|    3|    1|            349909| 21.075|   null|       S|null|null|                null|   [8.0]|  0.0|
|       n|female| 9.0| third|Boulos, Miss. Nou...|    1|    1|              2678|15.2458|   null|       C|null|null|      Syria Kent, ON|   [9.0]|  0.0|
|       n|female| 9.0| third|Ford, Miss. Robin...|    2|    2|        W./C. 6608| 34.375|   null|       S|null|null|Rotherfield, Suss...|   [9.0]|  0.0|
|       n|female| 9.0| third|  Skoog, Miss. Mabel|    3|    2|            347088|   27.9|   null|       S|null|null|                null|   [9.0]|  0.0|
|       n|female|10.0| third|Goodwin, Miss. Je...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|  [10.0]|  0.0|
|       n|female|10.0| third|Van Impe, Miss. C...|    0|    2|            345773|  24.15|   null|       S|null|null|                null|  [10.0]|  0.0|
|       n|female|11.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN|  [11.0]|  0.0|
|       n|female|14.0| third|Vestrom, Miss. Hu...|    0|    0|            350406| 7.8542|   null|       S|null|null|                null|  [14.0]|  0.0|
|       n|female|16.0| third|Goodwin, Miss. Li...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|  [16.0]|  0.0|
|       n|female|17.0| third|Attalah, Miss. Ma...|    0|    0|              2627|14.4583|   null|       C|null|null|                null|  [17.0]|  0.0|
|       n|female|18.0|second|Hiltunen, Miss. M...|    1|    1|            250650|   13.0|   null|       S|null|null|Kontiolahti, Finl...|  [18.0]|  0.0|
|       n|female|18.0| third|Arnold-Franchi, M...|    1|    0|            349237|   17.8|   null|       S|null|null|Altdorf, Switzerland|  [18.0]|  0.0|
|       n|female|18.0| third|Barbara, Miss. Sa...|    0|    1|              2691|14.4542|   null|       C|null|null|    Syria Ottawa, ON|  [18.0]|  0.0|
|       n|female|18.0| third|Burns, Miss. Mary...|    0|    0|            330963| 7.8792|   null|       Q|null|null|Co Sligo, Ireland...|  [18.0]|  0.0|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+--------+-----+
only showing top 20 rows

total: 1045
train: 945
test: 100
+--------+------+----+------+--------------------+-----+-----+----------------+-------+-----+--------+----+----+--------------------+--------+-----+--------------------+--------------------+----------+
|survived|   sex| age|pclass|                name|sibsp|parch|          ticket|   fare|cabin|embarked|boat|body|                home|features|label|       rawPrediction|         probability|prediction|
+--------+------+----+------+--------------------+-----+-----+----------------+-------+-----+--------+----+----+--------------------+--------+-----+--------------------+--------------------+----------+
|       n|female| 1.0| third|Klasen, Miss. Ger...|    1|    1|          350405|12.1833| null|       S|null|null|                null|   [1.0]|  0.0|[0.18870143374369...|[0.54703586918930...|       0.0|
|       n|female| 2.0| third|Rosblom, Miss. Sa...|    1|    1|          370129|20.2125| null|       S|null|null|                null|   [2.0]|  0.0|[0.19623487659338...|[0.54890189308038...|       0.0|
|       n|female| 6.0| third|Andersson, Miss. ...|    4|    2|          347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN|   [6.0]|  0.0|[0.22636864799213...|[0.55635173238021...|       0.0|
|       n|female| 9.0| third|Andersson, Miss. ...|    4|    2|          347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN|   [9.0]|  0.0|[0.24896897654119...|[0.56192271462588...|       0.0|
|       n|female|14.5| third|Zabour, Miss. Hileni|    1|    0|            2665|14.4542| null|       C|null| 328|                null|  [14.5]|  0.0|[0.29040291221448...|[0.57209476964997...|       0.0|
|       n|female|17.0| third|Hagardon, Miss. Kate|    0|    0|     AQ/3. 30631| 7.7333| null|       Q|null|null|                null|  [17.0]|  0.0|[0.30923651933869...|[0.57669889323225...|       0.0|
|       n|female|18.0| third|Pettersson, Miss....|    0|    0|          347087|  7.775| null|       S|null|null|                null|  [18.0]|  0.0|[0.31676996218838...|[0.57853686612247...|       0.0|
|       n|female|30.0| third|Connolly, Miss. Kate|    0|    0|          330972| 7.6292| null|       Q|null|null|             Ireland|  [30.0]|  0.0|[0.40717127638463...|[0.60040941043472...|       0.0|
|       n|female|39.0| third|Andersson, Mrs. A...|    1|    5|          347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN|  [39.0]|  0.0|[0.47497226203182...|[0.61655994690465...|       0.0|
|       n|  male| 2.0| third|Panula, Master. U...|    4|    1|         3101295|39.6875| null|       S|null|null|                null|   [2.0]|  0.0|[0.19623487659338...|[0.54890189308038...|       0.0|
|       n|  male|16.0|second| Gaskell, Mr. Alfred|    0|    0|          239865|   26.0| null|       S|null|null|Liverpool / Montr...|  [16.0]|  0.0|[0.30170307648901...|[0.57485879513791...|       0.0|
|       n|  male|17.0| third|Elias, Mr. Joseph Jr|    1|    1|            2690| 7.2292| null|       C|null|null|                null|  [17.0]|  0.0|[0.30923651933869...|[0.57669889323225...|       0.0|
|       n|  male|19.0|second|Nicholls, Mr. Jos...|    1|    1|      C.A. 33112|  36.75| null|       S|null| 101|Cornwall / Hancoc...|  [19.0]|  0.0|[0.32430340503807...|[0.58037266542466...|       0.0|
|       n|  male|19.0| third|Gustafsson, Mr. K...|    0|    0|          347069|  7.775| null|       S|null|null|Myren, Sweden New...|  [19.0]|  0.0|[0.32430340503807...|[0.58037266542466...|       0.0|
|       n|  male|20.0| third|     Hampe, Mr. Leon|    0|    0|          345769|    9.5| null|       S|null|null|                null|  [20.0]|  0.0|[0.33183684788776...|[0.58220624299248...|       0.0|
|       n|  male|20.0| third|Jensen, Mr. Hans ...|    0|    0|          350050| 7.8542| null|       S|null|null|                null|  [20.0]|  0.0|[0.33183684788776...|[0.58220624299248...|       0.0|
|       n|  male|21.0| third| Charters, Mr. David|    0|    0|      A/5. 13032| 7.7333| null|       Q|null|null|Ireland New York, NY|  [21.0]|  0.0|[0.33937029073745...|[0.58403755092198...|       0.0|
|       n|  male|21.0| third| Windelov, Mr. Einar|    0|    0|SOTON/OQ 3101317|   7.25| null|       S|null|null|                null|  [21.0]|  0.0|[0.33937029073745...|[0.58403755092198...|       0.0|
|       n|  male|22.0| third|Barton, Mr. David...|    0|    0|          324669|   8.05| null|       S|null|null|England New York, NY|  [22.0]|  0.0|[0.34690373358713...|[0.58586654155638...|       0.0|
|       n|  male|22.0| third|Berglund, Mr. Kar...|    0|    0|         PP 4348|   9.35| null|       S|null|null|Tranvik, Finland ...|  [22.0]|  0.0|[0.34690373358713...|[0.58586654155638...|       0.0|
+--------+------+----+------+--------------------+-----+-----+----------------+-------+-----+--------+----+----+--------------------+--------+-----+--------------------+--------------------+----------+
only showing top 20 rows

Incorrect Predictons: 48
+-----+------+
|label|Errors|
+-----+------+
|  1.0|    48|
+-----+------+

TP: 0
TN: 52
FP: 0
FN: 48
total: 100
%FP=0.0%
%FN=48.0%

In [13]:
import org.apache.spark.sql.functions._
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SparkSession

    //Getting data from tsv file
    val titanicDF = spark.read.format("org.apache.spark.csv").option("header", true).option("inferSchema", true).option("delimiter","\t").option("mode","DROPMALFORMED").csv("/home/shahyash1993/titanic.tsv")

    //Dropping null values from three cols
    var droppedNullAgeDF = titanicDF.na.drop("any",Seq("age","sex","pclass"))
    println(">>After dropping: "+droppedNullAgeDF.count())

    //Renaming the home.dest to home due to unusual error
    val newTitanicDF = droppedNullAgeDF.withColumnRenamed("home.dest","home")
    println("Total data we are playing with: "+newTitanicDF.count())

    //<<<Machine Learning stuff>>>
    import org.apache.spark.ml.feature.RFormula

    //Formula to predict survival based on age, sex and pclass
    val examFormula = new RFormula().setFormula("survived ~ age + sex + pclass").setFeaturesCol("features").setLabelCol("label")

    //Splitting dataset into trainset and testset
    val fittedRF = examFormula.fit(newTitanicDF)
    val preparedDF = fittedRF.transform(newTitanicDF)
    val Array(trainDF, testDF) = preparedDF.randomSplit(Array(0.9, 0.1))
    trainDF.show

    println("total: "+newTitanicDF.count())
    println("train: "+trainDF.count())
    println("test: "+testDF.count())

    //fitting the  model
    import org.apache.spark.ml.classification.LogisticRegression
    val lr = new LogisticRegression().setFeaturesCol("features").setLabelCol("label")
    val lrModel = lr.fit(trainDF)

    val trainedModelDF = lrModel.evaluate(testDF).predictions
    trainedModelDF.show()

    //Finding wrong predictions
    val wrongPredictions = trainedModelDF.where(expr("label != prediction"))
    val incorrectPredicition = wrongPredictions.count()
    println("Incorrect Predictons: "+incorrectPredicition)

    val countErrors = wrongPredictions.groupBy("label").agg(count("prediction").alias("Errors"))
    countErrors.show

    //Finding TP, TN, FP, FN
    val truePositives = trainedModelDF.where(expr("label == 1 AND prediction == 1")).count()
    println("TP: "+truePositives)

    val trueNegatives= trainedModelDF.where(expr("label == 0 AND prediction == 0")).count()
    println("TN: "+trueNegatives)

    val falsePositive= trainedModelDF.where(expr("label == 0 AND prediction == 1")).count()
    println("FP: "+falsePositive)

    val falseNegative= trainedModelDF.where(expr("label == 1 AND prediction == 0")).count()
    println("FN: "+falseNegative)

    val totalCount= trainedModelDF.count()
    println("total: "+totalCount)

    val percentFP:Double = falsePositive*100/totalCount
    val percentFN:Double = falseNegative*100/totalCount

    println("%FP=" + percentFP+"%")
    println("%FN=" + percentFN+"%")

>>After dropping: 1045
Total data we are playing with: 1045
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
|survived|   sex| age|pclass|                name|sibsp|parch|            ticket|   fare|  cabin|embarked|boat|body|                home|          features|label|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
|       n|female| 1.0| third|Klasen, Miss. Ger...|    1|    1|            350405|12.1833|   null|       S|null|null|                null| [1.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| first|Allison, Miss. He...|    1|    2|            113781| 151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...| [2.0,0.0,0.0,1.0]|  0.0|
|       n|female| 2.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| third|Skoog, Miss. Marg...|    3|    2|            347088|   27.9|   null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| third|Strom, Miss. Telm...|    0|    1|            347054|10.4625|     G6|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 3.0| third|Palsson, Miss. St...|    3|    1|            349909| 21.075|   null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0|
|       n|female| 3.0| third|Peacock, Miss. Tr...|    1|    1|SOTON/O.Q. 3101315| 13.775|   null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|Ford, Miss. Robin...|    2|    2|        W./C. 6608| 34.375|   null|       S|null|null|Rotherfield, Suss...| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|  Skoog, Miss. Mabel|    3|    2|            347088|   27.9|   null|       S|null|null|                null| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female|10.0| third|Goodwin, Miss. Je...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|[10.0,0.0,1.0,0.0]|  0.0|
|       n|female|10.0| third|Van Impe, Miss. C...|    0|    2|            345773|  24.15|   null|       S|null|null|                null|[10.0,0.0,1.0,0.0]|  0.0|
|       n|female|11.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN|[11.0,0.0,1.0,0.0]|  0.0|
|       n|female|14.0| third|Vestrom, Miss. Hu...|    0|    0|            350406| 7.8542|   null|       S|null|null|                null|[14.0,0.0,1.0,0.0]|  0.0|
|       n|female|14.5| third|Zabour, Miss. Hileni|    1|    0|              2665|14.4542|   null|       C|null| 328|                null|[14.5,0.0,1.0,0.0]|  0.0|
|       n|female|16.0| third|Goodwin, Miss. Li...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|[16.0,0.0,1.0,0.0]|  0.0|
|       n|female|17.0| third|Attalah, Miss. Ma...|    0|    0|              2627|14.4583|   null|       C|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0|
|       n|female|17.0| third|Hagardon, Miss. Kate|    0|    0|       AQ/3. 30631| 7.7333|   null|       Q|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0|
|       n|female|18.0|second|Hiltunen, Miss. M...|    1|    1|            250650|   13.0|   null|       S|null|null|Kontiolahti, Finl...|    (4,[0],[18.0])|  0.0|
|       n|female|18.0| third|Barbara, Miss. Sa...|    0|    1|              2691|14.4542|   null|       C|null|null|    Syria Ottawa, ON|[18.0,0.0,1.0,0.0]|  0.0|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
only showing top 20 rows

total: 1045
train: 930
test: 115
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------------------+-----+--------------------+--------------------+----------+
|survived|   sex| age|pclass|                name|sibsp|parch|            ticket|   fare|cabin|embarked|boat|body|                home|          features|label|       rawPrediction|         probability|prediction|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------------------+-----+--------------------+--------------------+----------+
|       n|female| 2.0| third|Rosblom, Miss. Sa...|    1|    1|            370129|20.2125| null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0|[-1.1727422207144...|[0.23635967271671...|       1.0|
|       n|female| 6.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN| [6.0,0.0,1.0,0.0]|  0.0|[-1.0452791663342...|[0.26013266035829...|       1.0|
|       n|female| 8.0| third|Palsson, Miss. To...|    3|    1|            349909| 21.075| null|       S|null|null|                null| [8.0,0.0,1.0,0.0]|  0.0|[-0.9815476391440...|[0.27258480618247...|       1.0|
|       n|female| 9.0| third|Boulos, Miss. Nou...|    1|    1|              2678|15.2458| null|       C|null|null|      Syria Kent, ON| [9.0,0.0,1.0,0.0]|  0.0|[-0.9496818755490...|[0.27894880387413...|       1.0|
|       n|female|18.0| third|Arnold-Franchi, M...|    1|    0|            349237|   17.8| null|       S|null|null|Altdorf, Switzerland|[18.0,0.0,1.0,0.0]|  0.0|[-0.6628900031934...|[0.34009071153571...|       1.0|
|       n|female|19.0| third|McNamee, Mrs. Nea...|    1|    0|            376566|   16.1| null|       S|null|  53|                null|[19.0,0.0,1.0,0.0]|  0.0|[-0.6310242395984...|[0.34727833087569...|       1.0|
|       n|female|22.0| third|Riihivouri, Miss....|    0|    0|           3101295|39.6875| null|       S|null|null|                null|[22.0,0.0,1.0,0.0]|  0.0|[-0.5354269488132...|[0.36925203029933...|       1.0|
|       n|female|26.0|second|Lahtinen, Mrs. Wi...|    1|    1|            250651|   26.0| null|       S|null|null|     Minneapolis, MN|    (4,[0],[26.0])|  0.0|[-1.3636791580554...|[0.20364299333522...|       1.0|
|       n|female|27.0| third|  Barry, Miss. Julia|    0|    0|            330844| 7.8792| null|       Q|null|null|        New York, NY|[27.0,0.0,1.0,0.0]|  0.0|[-0.3760981308379...|[0.40706832409516...|       1.0|
|       n|female|28.0| third|Danbom, Mrs. Erns...|    1|    1|            347080|   14.4| null|       S|null|null|         Stanton, IA|[28.0,0.0,1.0,0.0]|  0.0|[-0.3442323672429...|[0.41478175219816...|       1.0|
|       n|female|29.0| third|Strom, Mrs. Wilhe...|    1|    1|            347054|10.4625|   G6|       S|null|null|                null|[29.0,0.0,1.0,0.0]|  0.0|[-0.3123666036478...|[0.42253718312263...|       1.0|
|       n|female|30.5| third|  Mangan, Miss. Mary|    0|    0|            364850|   7.75| null|       Q|null|  61|                null|[30.5,0.0,1.0,0.0]|  0.0|[-0.2645679582552...|[0.43424113627649...|       1.0|
|       n|female|40.0| third|Ahlin, Mrs. Johan...|    1|    0|              7546|  9.475| null|       S|null|null|   Sweden Akeley, MN|[40.0,0.0,1.0,0.0]|  0.0|[0.03815679589779...|[0.50953804176696...|       0.0|
|       n|female|41.0| third|Panula, Mrs. Juha...|    0|    5|           3101295|39.6875| null|       S|null|null|                null|[41.0,0.0,1.0,0.0]|  0.0|[0.07002255949285...|[0.51749849063417...|       0.0|
|       n|female|45.0| third|Barbara, Mrs. (Ca...|    0|    1|              2691|14.4542| null|       C|null|null|    Syria Ottawa, ON|[45.0,0.0,1.0,0.0]|  0.0|[0.19748561387309...|[0.54921156741213...|       0.0|
|       n|  male|0.75| third|Peacock, Master. ...|    1|    1|SOTON/O.Q. 3101315| 13.775| null|       S|null|null|                null|[0.75,1.0,1.0,0.0]|  0.0|[1.37318195800010...|[0.79789376031966...|       0.0|
|       n|  male| 1.0| third|Panula, Master. E...|    4|    1|           3101295|39.6875| null|       S|null|null|                null| [1.0,1.0,1.0,0.0]|  0.0|[1.38114839889887...|[0.79917537481736...|       0.0|
|       n|  male| 9.0| third|Asplund, Master. ...|    4|    2|            347077|31.3875| null|       S|null|null|Sweden Worcester, MA| [9.0,1.0,1.0,0.0]|  0.0|[1.63607450765934...|[0.83700008703977...|       0.0|
|       n|  male|10.0| third|Rice, Master. Albert|    4|    1|            382652| 29.125| null|       Q|null|null|                null|[10.0,1.0,1.0,0.0]|  0.0|[1.66794027125440...|[0.84130101260061...|       0.0|
|       n|  male|13.0| third|Abbott, Master. E...|    0|    2|         C.A. 2673|  20.25| null|       S|null|null| East Providence, RI|[13.0,1.0,1.0,0.0]|  0.0|[1.76353756203958...|[0.85365216148722...|       0.0|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-----+--------+----+----+--------------------+------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

Incorrect Predictons: 29
+-----+------+
|label|Errors|
+-----+------+
|  0.0|    13|
|  1.0|    16|
+-----+------+

TP: 34
TN: 52
FP: 13
FN: 16
total: 115
%FP=11.0%
%FN=13.0%

In [16]:
import org.apache.spark.{SparkConf, SparkContext}
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.types.{StructField, StructType, StringType, DoubleType, IntegerType}
import org.apache.spark.ml.feature.RFormula
import org.apache.spark.ml.regression.DecisionTreeRegressor
import org.apache.spark.ml.evaluation.RegressionEvaluator
import org.apache.spark.ml.feature.Binarizer
import org.apache.spark.sql.functions._

    val schema = new StructType(Array(
      new StructField("survived", StringType, true),
      new StructField("sex", StringType, true),
      new StructField("age", DoubleType, true),
      new StructField("pclass", StringType, true),
      new StructField("name", StringType, true),
      new StructField("sibsp", IntegerType, true),
      new StructField("parch", IntegerType, true),
      new StructField("ticket", StringType, true),
      new StructField("fare", DoubleType, true),
      new StructField("cabin", StringType, true),
      new StructField("embarked", StringType, true),
      new StructField("boat", StringType, true),
      new StructField("body", IntegerType, true),
      new StructField("home", StringType, true)
    ))

    //Getting data from tsv file
    val data = spark.read.format("csv").schema(schema).option("header", true).option("delimiter","\t").load("/home/shahyash1993/titanic.tsv")

    //Dropping null values from three cols
    val droppedNullAgeDF = data.na.drop("any",Seq("age","sex","pclass"))
    println(">>After dropping: "+droppedNullAgeDF.count())
    println("Data:"+data.count())

    //Formula to predict survival based on age, sex and pclass
    val supervised = new RFormula().setFormula("survived ~ age + sex + pclass")
    val Array(train, test) = supervised.fit(data).transform(droppedNullAgeDF).randomSplit(Array(0.9, 0.1))
    train.show

    //2
    val dt = new DecisionTreeRegressor().setLabelCol("label").setFeaturesCol("features")
    val model = dt.fit(train)

    //predictions
    val predictions = model.transform(test)
    predictions.show

    //3
    val evaluator = new RegressionEvaluator().setLabelCol("label").setPredictionCol("prediction").setMetricName("rmse")

    val rmse = evaluator.evaluate(predictions)
    println("Root Mean Squared Error (RMSE) on test data = " + rmse)

    println("Learned regression tree model:\n" + model.toDebugString)

    //4
    val binarizer: Binarizer = new Binarizer().setInputCol("prediction").setOutputCol("binarized_prediction").setThreshold(0.5)

    val predictionBinary = binarizer.transform(predictions)
    predictionBinary.show

    //5
    val wrongPredictions = predictionBinary.where(expr("label != binarized_prediction"))
    wrongPredictions.show

    //6
    val countErrors = wrongPredictions.groupBy("label").agg(count("prediction").alias("Errors"))
    countErrors.show

    //7
    val correctPredictions = predictionBinary.where(expr("label == binarized_prediction"))
    val countCorrectPredictions = correctPredictions.groupBy("label").agg(count("prediction").alias("Correct"))
    countCorrectPredictions.show

    //Finding TP, TN, FP, FN
    val truePositives = predictionBinary.where(expr("label == 1 AND prediction == 1")).count()
    println("TP: "+truePositives)

    val trueNegatives= predictionBinary.where(expr("label == 0 AND prediction == 0")).count()
    println("TN: "+trueNegatives)

    val falsePositive= predictionBinary.where(expr("label == 0 AND prediction == 1")).count()
    println("FP: "+falsePositive)

    val falseNegative= predictionBinary.where(expr("label == 1 AND prediction == 0")).count()
    println("FN: "+falseNegative)

    val totalCount= predictionBinary.count()
    println("total: "+totalCount)

    val percentFP:Double = falsePositive*100/totalCount
    val percentFN:Double = falseNegative*100/totalCount

    println("%FP=" + percentFP+"%")
    println("%FN=" + percentFN+"%")

>>After dropping: 1045
Data:1309
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
|survived|   sex| age|pclass|                name|sibsp|parch|            ticket|   fare|  cabin|embarked|boat|body|                home|          features|label|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
|       n|female| 1.0| third|Klasen, Miss. Ger...|    1|    1|            350405|12.1833|   null|       S|null|null|                null| [1.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| first|Allison, Miss. He...|    1|    2|            113781| 151.55|C22 C26|       S|null|null|Montreal, PQ / Ch...| [2.0,0.0,0.0,1.0]|  0.0|
|       n|female| 2.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| third|Skoog, Miss. Marg...|    3|    2|            347088|   27.9|   null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 2.0| third|Strom, Miss. Telm...|    0|    1|            347054|10.4625|     G6|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0|
|       n|female| 3.0| third|Peacock, Miss. Tr...|    1|    1|SOTON/O.Q. 3101315| 13.775|   null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0|
|       n|female| 8.0| third|Palsson, Miss. To...|    3|    1|            349909| 21.075|   null|       S|null|null|                null| [8.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|Boulos, Miss. Nou...|    1|    1|              2678|15.2458|   null|       C|null|null|      Syria Kent, ON| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|Ford, Miss. Robin...|    2|    2|        W./C. 6608| 34.375|   null|       S|null|null|Rotherfield, Suss...| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female| 9.0| third|  Skoog, Miss. Mabel|    3|    2|            347088|   27.9|   null|       S|null|null|                null| [9.0,0.0,1.0,0.0]|  0.0|
|       n|female|10.0| third|Goodwin, Miss. Je...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|[10.0,0.0,1.0,0.0]|  0.0|
|       n|female|10.0| third|Van Impe, Miss. C...|    0|    2|            345773|  24.15|   null|       S|null|null|                null|[10.0,0.0,1.0,0.0]|  0.0|
|       n|female|11.0| third|Andersson, Miss. ...|    4|    2|            347082| 31.275|   null|       S|null|null| Sweden Winnipeg, MN|[11.0,0.0,1.0,0.0]|  0.0|
|       n|female|14.0| third|Vestrom, Miss. Hu...|    0|    0|            350406| 7.8542|   null|       S|null|null|                null|[14.0,0.0,1.0,0.0]|  0.0|
|       n|female|14.5| third|Zabour, Miss. Hileni|    1|    0|              2665|14.4542|   null|       C|null| 328|                null|[14.5,0.0,1.0,0.0]|  0.0|
|       n|female|16.0| third|Goodwin, Miss. Li...|    5|    2|           CA 2144|   46.9|   null|       S|null|null|Wiltshire, Englan...|[16.0,0.0,1.0,0.0]|  0.0|
|       n|female|17.0| third|Attalah, Miss. Ma...|    0|    0|              2627|14.4583|   null|       C|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0|
|       n|female|18.0|second|Hiltunen, Miss. M...|    1|    1|            250650|   13.0|   null|       S|null|null|Kontiolahti, Finl...|    (4,[0],[18.0])|  0.0|
|       n|female|18.0| third|Barbara, Miss. Sa...|    0|    1|              2691|14.4542|   null|       C|null|null|    Syria Ottawa, ON|[18.0,0.0,1.0,0.0]|  0.0|
+--------+------+----+------+--------------------+-----+-----+------------------+-------+-------+--------+----+----+--------------------+------------------+-----+
only showing top 20 rows

+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+
|survived|   sex| age|pclass|                name|sibsp|parch|     ticket|   fare|cabin|embarked|boat|body|                home|          features|label|         prediction|
+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+
|       n|female| 2.0| third|Rosblom, Miss. Sa...|    1|    1|     370129|20.2125| null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female| 3.0| third|Palsson, Miss. St...|    3|    1|     349909| 21.075| null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female| 6.0| third|Andersson, Miss. ...|    4|    2|     347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN| [6.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|17.0| third|Hagardon, Miss. Kate|    0|    0|AQ/3. 30631| 7.7333| null|       Q|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|18.0| third|Arnold-Franchi, M...|    1|    0|     349237|   17.8| null|       S|null|null|Altdorf, Switzerland|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|18.0| third|Burns, Miss. Mary...|    0|    0|     330963| 7.8792| null|       Q|null|null|Co Sligo, Ireland...|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|18.0| third|Vander Planke, Mi...|    2|    0|     345764|   18.0| null|       S|null|null|                null|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|22.0| third|Dahlberg, Miss. G...|    0|    0|       7552|10.5167| null|       S|null|null|Norrlot, Sweden C...|[22.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|24.0| third|Doyle, Miss. Eliz...|    0|    0|     368702|   7.75| null|       Q|null|null|Ireland New York, NY|[24.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|27.0| third|  Barry, Miss. Julia|    0|    0|     330844| 7.8792| null|       Q|null|null|        New York, NY|[27.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|
|       n|female|30.0| third|Connolly, Miss. Kate|    0|    0|     330972| 7.6292| null|       Q|null|null|             Ireland|[30.0,0.0,1.0,0.0]|  0.0|0.29411764705882354|
|       n|female|31.0| third|Vander Planke, Mr...|    1|    0|     345763|   18.0| null|       S|null|null|                null|[31.0,0.0,1.0,0.0]|  0.0|0.29411764705882354|
|       n|female|35.0| third|McGowan, Miss. Ka...|    0|    0|       9232|   7.75| null|       Q|null|null|                null|[35.0,0.0,1.0,0.0]|  0.0|                1.0|
|       n|female|39.0| third|Rice, Mrs. Willia...|    0|    5|     382652| 29.125| null|       Q|null| 327|                null|[39.0,0.0,1.0,0.0]|  0.0| 0.1111111111111111|
|       n|female|50.0| first|Isham, Miss. Ann ...|    0|    0|   PC 17595|28.7125|  C49|       C|null|null|Paris, France New...|[50.0,0.0,0.0,1.0]|  0.0| 0.9824561403508771|
|       n|  male| 6.0| third|Palsson, Master. ...|    3|    1|     349909| 21.075| null|       S|null|null|                null| [6.0,1.0,1.0,0.0]|  0.0|0.36363636363636365|
|       n|  male|16.0| third|Abbott, Mr. Rossm...|    1|    1|  C.A. 2673|  20.25| null|       S|null| 190| East Providence, RI|[16.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|
|       n|  male|16.0| third|Eklund, Mr. Hans ...|    0|    0|     347074|  7.775| null|       S|null|null|Karberg, Sweden J...|[16.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|
|       n|  male|17.0| first|Carrau, Mr. Jose ...|    0|    0|     113059|   47.1| null|       S|null|null| Montevideo, Uruguay|[17.0,1.0,0.0,1.0]|  0.0|0.42105263157894735|
|       n|  male|17.0| third|Elias, Mr. Joseph Jr|    1|    1|       2690| 7.2292| null|       C|null|null|                null|[17.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|
+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+
only showing top 20 rows

Root Mean Squared Error (RMSE) on test data = 0.4271257513947156

Learned regression tree model:
DecisionTreeRegressionModel (uid=dtr_098c1b6c0c28) of depth 5 with 47 nodes
  If (feature 1 in {1.0})
   If (feature 0 <= 7.0)
    If (feature 2 in {1.0})
     If (feature 0 <= 2.0)
      Predict: 0.3
     Else (feature 0 > 2.0)
      Predict: 0.36363636363636365
    Else (feature 2 not in {1.0})
     Predict: 1.0
   Else (feature 0 > 7.0)
    If (feature 3 in {0.0})
     If (feature 0 <= 32.0)
      If (feature 0 <= 28.5)
       Predict: 0.13934426229508196
      Else (feature 0 > 28.5)
       Predict: 0.2631578947368421
     Else (feature 0 > 32.0)
      If (feature 0 <= 36.0)
       Predict: 0.0
      Else (feature 0 > 36.0)
       Predict: 0.08139534883720931
    Else (feature 3 not in {0.0})
     If (feature 0 <= 36.0)
      If (feature 0 <= 33.0)
       Predict: 0.42105263157894735
      Else (feature 0 > 33.0)
       Predict: 0.8
     Else (feature 0 > 36.0)
      If (feature 0 <= 54.0)
       Predict: 0.3090909090909091
      Else (feature 0 > 54.0)
       Predict: 0.08695652173913043
  Else (feature 1 not in {1.0})
   If (feature 2 in {1.0})
    If (feature 0 <= 36.0)
     If (feature 0 <= 32.0)
      If (feature 0 <= 27.0)
       Predict: 0.5454545454545454
      Else (feature 0 > 27.0)
       Predict: 0.29411764705882354
     Else (feature 0 > 32.0)
      If (feature 0 <= 35.0)
       Predict: 1.0
      Else (feature 0 > 35.0)
       Predict: 0.6666666666666666
    Else (feature 0 > 36.0)
     If (feature 0 <= 50.0)
      If (feature 0 <= 44.0)
       Predict: 0.1111111111111111
      Else (feature 0 > 44.0)
       Predict: 0.375
     Else (feature 0 > 50.0)
      Predict: 1.0
   Else (feature 2 not in {1.0})
    If (feature 3 in {0.0})
     If (feature 0 <= 54.0)
      If (feature 0 <= 17.0)
       Predict: 1.0
      Else (feature 0 > 17.0)
       Predict: 0.881578947368421
     Else (feature 0 > 54.0)
      Predict: 0.3333333333333333
    Else (feature 3 not in {0.0})
     If (feature 0 <= 2.0)
      Predict: 0.0
     Else (feature 0 > 2.0)
      If (feature 0 <= 60.0)
       Predict: 0.9824561403508771
      Else (feature 0 > 60.0)
       Predict: 0.8

+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
|survived|   sex| age|pclass|                name|sibsp|parch|     ticket|   fare|cabin|embarked|boat|body|                home|          features|label|         prediction|binarized_prediction|
+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
|       n|female| 2.0| third|Rosblom, Miss. Sa...|    1|    1|     370129|20.2125| null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female| 3.0| third|Palsson, Miss. St...|    3|    1|     349909| 21.075| null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female| 6.0| third|Andersson, Miss. ...|    4|    2|     347082| 31.275| null|       S|null|null| Sweden Winnipeg, MN| [6.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|17.0| third|Hagardon, Miss. Kate|    0|    0|AQ/3. 30631| 7.7333| null|       Q|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Arnold-Franchi, M...|    1|    0|     349237|   17.8| null|       S|null|null|Altdorf, Switzerland|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Burns, Miss. Mary...|    0|    0|     330963| 7.8792| null|       Q|null|null|Co Sligo, Ireland...|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Vander Planke, Mi...|    2|    0|     345764|   18.0| null|       S|null|null|                null|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|22.0| third|Dahlberg, Miss. G...|    0|    0|       7552|10.5167| null|       S|null|null|Norrlot, Sweden C...|[22.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|24.0| third|Doyle, Miss. Eliz...|    0|    0|     368702|   7.75| null|       Q|null|null|Ireland New York, NY|[24.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|27.0| third|  Barry, Miss. Julia|    0|    0|     330844| 7.8792| null|       Q|null|null|        New York, NY|[27.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|30.0| third|Connolly, Miss. Kate|    0|    0|     330972| 7.6292| null|       Q|null|null|             Ireland|[30.0,0.0,1.0,0.0]|  0.0|0.29411764705882354|                 0.0|
|       n|female|31.0| third|Vander Planke, Mr...|    1|    0|     345763|   18.0| null|       S|null|null|                null|[31.0,0.0,1.0,0.0]|  0.0|0.29411764705882354|                 0.0|
|       n|female|35.0| third|McGowan, Miss. Ka...|    0|    0|       9232|   7.75| null|       Q|null|null|                null|[35.0,0.0,1.0,0.0]|  0.0|                1.0|                 1.0|
|       n|female|39.0| third|Rice, Mrs. Willia...|    0|    5|     382652| 29.125| null|       Q|null| 327|                null|[39.0,0.0,1.0,0.0]|  0.0| 0.1111111111111111|                 0.0|
|       n|female|50.0| first|Isham, Miss. Ann ...|    0|    0|   PC 17595|28.7125|  C49|       C|null|null|Paris, France New...|[50.0,0.0,0.0,1.0]|  0.0| 0.9824561403508771|                 1.0|
|       n|  male| 6.0| third|Palsson, Master. ...|    3|    1|     349909| 21.075| null|       S|null|null|                null| [6.0,1.0,1.0,0.0]|  0.0|0.36363636363636365|                 0.0|
|       n|  male|16.0| third|Abbott, Mr. Rossm...|    1|    1|  C.A. 2673|  20.25| null|       S|null| 190| East Providence, RI|[16.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|                 0.0|
|       n|  male|16.0| third|Eklund, Mr. Hans ...|    0|    0|     347074|  7.775| null|       S|null|null|Karberg, Sweden J...|[16.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|                 0.0|
|       n|  male|17.0| first|Carrau, Mr. Jose ...|    0|    0|     113059|   47.1| null|       S|null|null| Montevideo, Uruguay|[17.0,1.0,0.0,1.0]|  0.0|0.42105263157894735|                 0.0|
|       n|  male|17.0| third|Elias, Mr. Joseph Jr|    1|    1|       2690| 7.2292| null|       C|null|null|                null|[17.0,1.0,1.0,0.0]|  0.0|0.13934426229508196|                 0.0|
+--------+------+----+------+--------------------+-----+-----+-----------+-------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
only showing top 20 rows

+--------+------+----+------+--------------------+-----+-----+-----------+--------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
|survived|   sex| age|pclass|                name|sibsp|parch|     ticket|    fare|cabin|embarked|boat|body|                home|          features|label|         prediction|binarized_prediction|
+--------+------+----+------+--------------------+-----+-----+-----------+--------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
|       n|female| 2.0| third|Rosblom, Miss. Sa...|    1|    1|     370129| 20.2125| null|       S|null|null|                null| [2.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female| 3.0| third|Palsson, Miss. St...|    3|    1|     349909|  21.075| null|       S|null|null|                null| [3.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female| 6.0| third|Andersson, Miss. ...|    4|    2|     347082|  31.275| null|       S|null|null| Sweden Winnipeg, MN| [6.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|17.0| third|Hagardon, Miss. Kate|    0|    0|AQ/3. 30631|  7.7333| null|       Q|null|null|                null|[17.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Arnold-Franchi, M...|    1|    0|     349237|    17.8| null|       S|null|null|Altdorf, Switzerland|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Burns, Miss. Mary...|    0|    0|     330963|  7.8792| null|       Q|null|null|Co Sligo, Ireland...|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|18.0| third|Vander Planke, Mi...|    2|    0|     345764|    18.0| null|       S|null|null|                null|[18.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|22.0| third|Dahlberg, Miss. G...|    0|    0|       7552| 10.5167| null|       S|null|null|Norrlot, Sweden C...|[22.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|24.0| third|Doyle, Miss. Eliz...|    0|    0|     368702|    7.75| null|       Q|null|null|Ireland New York, NY|[24.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|27.0| third|  Barry, Miss. Julia|    0|    0|     330844|  7.8792| null|       Q|null|null|        New York, NY|[27.0,0.0,1.0,0.0]|  0.0| 0.5454545454545454|                 1.0|
|       n|female|35.0| third|McGowan, Miss. Ka...|    0|    0|       9232|    7.75| null|       Q|null|null|                null|[35.0,0.0,1.0,0.0]|  0.0|                1.0|                 1.0|
|       n|female|50.0| first|Isham, Miss. Ann ...|    0|    0|   PC 17595| 28.7125|  C49|       C|null|null|Paris, France New...|[50.0,0.0,0.0,1.0]|  0.0| 0.9824561403508771|                 1.0|
|       n|  male|36.0| first|Cavendish, Mr. Ty...|    1|    0|      19877|   78.85|  C46|       S|null| 172|Little Onn Hall, ...|[36.0,1.0,0.0,1.0]|  0.0|                0.8|                 1.0|
|       y|female|38.0| third|Asplund, Mrs. Car...|    1|    5|     347077| 31.3875| null|       S|  15|null|Sweden  Worcester...|[38.0,0.0,1.0,0.0]|  1.0| 0.1111111111111111|                 0.0|
|       y|  male| 3.0| third|Coutts, Master. W...|    1|    1| C.A. 37671|    15.9| null|       S|   2|null|England Brooklyn, NY| [3.0,1.0,1.0,0.0]|  1.0|0.36363636363636365|                 0.0|
|       y|  male| 8.0|second|Davies, Master. J...|    1|    1| C.A. 33112|   36.75| null|       S|  14|null|St Ives, Cornwall...| [8.0,1.0,0.0,0.0]|  1.0|0.13934426229508196|                 0.0|
|       y|  male| 9.0| third|Coutts, Master. E...|    1|    1| C.A. 37671|    15.9| null|       S|   2|null|England Brooklyn, NY| [9.0,1.0,1.0,0.0]|  1.0|0.13934426229508196|                 0.0|
|       y|  male|12.0| third|Nicola-Yarred, Ma...|    1|    0|       2651| 11.2417| null|       C|   C|null|                null|[12.0,1.0,1.0,0.0]|  1.0|0.13934426229508196|                 0.0|
|       y|  male|17.0| first|Thayer, Mr. John ...|    0|    2|      17421|110.8833|  C70|       C|   B|null|       Haverford, PA|[17.0,1.0,0.0,1.0]|  1.0|0.42105263157894735|                 0.0|
|       y|  male|20.0| third|Barah, Mr. Hanna ...|    0|    0|       2663|  7.2292| null|       C|  15|null|                null|[20.0,1.0,1.0,0.0]|  1.0|0.13934426229508196|                 0.0|
+--------+------+----+------+--------------------+-----+-----+-----------+--------+-----+--------+----+----+--------------------+------------------+-----+-------------------+--------------------+
only showing top 20 rows

+-----+------+
|label|Errors|
+-----+------+
|  0.0|    13|
|  1.0|    18|
+-----+------+

+-----+-------+
|label|Correct|
+-----+-------+
|  0.0|     56|
|  1.0|     28|
+-----+-------+

TP: 2
TN: 4
FP: 1
FN: 1
total: 115
%FP=0.0%
%FN=0.0%

In [15]:
object Problem_45 {
/*
*
*Problem	TrainSet Size (%)	TestSet Size (%)		FP (%)	FN (%)
      2	                10                90	      0	      41
	                    50	              50	      1	      36
	                    90	              10	      0     	37
      3	                10	              90	      10    	11
	                    50	              50	      9     	12
	                    90	              10	      7     	9
      4	                10	              90	      7     	1
	                    50	              50	      0     	1
	                    90	              10	      0     	0


So based on the tests, It is quite obvious that by using just the age to predict the survival is very much meaningless,
Whether by using age, pclass and sex prediction of survival gives better results.
But, using the decision trees is the best way to predict the survival based on the same three parameters.
*
* */
}